@using FlamingoModel.Models
@model List<PromotionModel>

<div class="container-fluid py-4">

    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="fw-bold text-pink"><i class="bi bi-percent"></i> จัดการส่วนลด</h4>
        <button class="btn btn-flamingo" data-bs-toggle="modal" data-bs-target="#discountModal">
            <i class="bi bi-plus-lg"></i> เพิ่มส่วนลด
        </button>
    </div>


    <!-- Filter -->
    <div class="row mb-3 d-flex justify-content-end">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="ค้นหาชื่อส่วนลด..." id="searchInput">
        </div>
    </div>


    <!-- Discount Table -->
    <div class="card discount-card">
        <div class="table-responsive">
            <table class="table discount-table align-middle mb-0" id="discountTable">
                <thead>
                    <tr>
                        <th>ชื่อส่วนลด</th>
                        <th>ประเภท</th>
                        <th>มูลค่า</th>
                        <th>เริ่มต้น</th>
                        <th>สิ้นสุด</th>
                        <th>สถานะ</th>
                        <th class="text-end">จัดการ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var dis in Model)
                        {
                            <tr>
                                <td>
                                    <div class="fw-semibold">@dis.Name</div>
                                </td>
                                <td>เปอร์เซ็นต์</td>
                                <td class="fw-semibold text-pink">@dis.PercentCal.ToString("N0") %</td>
                                <td>@dis.StartDate.ToString("dd/MM/yyyy")</td>
                                <td>@dis.EndDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <div class="d-flex  gap-2">

                                        <!-- Switch -->
                                        <div class="form-check form-switch mb-0">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   role="switch"
                                                   @(dis.StatusUse == 1 ? "checked" : "")
                                                   onchange="toggleDiscountStatus(@dis.Id, this.checked)">
                                        </div>

                                        @if (dis.StatusUse == 1)
                                        {
                                            <span class=" status-active">ใช้งาน</span>
                                        }
                                        else
                                        {
                                            <span class=" status-inactive">ปืดการใช้งาน</span>
                                        }

                                    </div>

                                  
                                </td>
                                <td class="text-end">
                                    <div class="action-group">
                                        <button class="icon-btn edit" type="submit" data-bs-toggle="modal"
                                                data-bs-target="#editdiscountModal_@dis.Id">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="icon-btn delete" onclick="onClickDeleteDiscount(@dis.Id)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center text-muted">
                                ไม่มีส่วนลด
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>


<!-- Modal Add Discount -->
<div class="modal fade" id="discountModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-pink">เพิ่ม ส่วนลด</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="txtNameDis" class="form-label">ชื่อส่วนลด</label>
                        <input type="text" id="txtNameDis" class="form-control" placeholder="เช่น SUMMER2026">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">ประเภทส่วนลด</label>
                        <select class="form-select" id="discountType">
                            <option value="percent">เปอร์เซ็นต์ (%)</option>
                            @* <option value="amount">จำนวนเงิน (บาท)</option> *@
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">มูลค่าส่วนลด</label>
                        <input type="number" id="percentCal" class="form-control" placeholder="เช่น 10">
                    </div>
                    @* <div class="col-md-6">
                        <label class="form-label">สถานะ</label>
                        <select class="form-select">
                            <option value="active">ใช้งาน</option>
                            <option value="inactive">ปิดใช้งาน</option>
                        </select>
                    </div> *@
                    <div class="col-md-6">
                        <label class="form-label">วันเริ่มต้น</label>
                        <input type="date" id="txtStartDate" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">วันสิ้นสุด</label>
                        <input type="date" id="txtEndDate"  class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                <button class="btn btn-flamingo" onclick="onClickSaveDiscount()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

@foreach (var editdis in Model)
{
    <div class="modal fade" id="editdiscountModal_@editdis.Id" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content rounded-4">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold text-pink">แก้ไช ส่วนลด</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label for="txtNameDis" class="form-label">ชื่อส่วนลด</label>
                            <input type="text" id="txtUpdateNameDis" class="form-control"  value="@editdis.Name" placeholder="เช่น SUMMER2026">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">ประเภทส่วนลด</label>
                            <select class="form-select" id="discountType">
                                <option value="percent">เปอร์เซ็นต์ (%)</option>
                                @* <option value="amount">จำนวนเงิน (บาท)</option> *@
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">มูลค่าส่วนลด</label>
                            <input type="number" id="updatePercentCal" value="@editdis.PercentCal" class="form-control" placeholder="เช่น 10">
                        </div>
                        @* <div class="col-md-6">
                            <label class="form-label">สถานะ</label>
                            <select class="form-select">
                                <option value="@editdis.StatusUse">@(editdis.StatusUse == 1 ? "ใช้งาน" : "ปิดใช้งาน")</option>
                                <option value="1">ใช้งาน</option>
                                <option value="0">ปิดใช้งาน</option>
                            </select>
                        </div> *@
                        <div class="col-md-6">
                            <label class="form-label">วันเริ่มต้น</label>
                            <input type="date" id="txtUpdateStartDate" value="@editdis.StartDate.ToString("yyyy-MM-dd")" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">วันสิ้นสุด</label>
                            <input type="date" id="txtUpdateEndDate" value="@editdis.EndDate.ToString("yyyy-MM-dd")" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    <button class="btn btn-flamingo" type="button" onclick="onClickUpdateDiscount(@editdis.Id)">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
}



<script>
    var addDiscountUrl = '@Url.Action("AddDiscount", "Discount")';
    var deleteDiscountUrl = '@Url.Action("DeleteDiscount", "Discount")';
    var updateDiscountUrl = '@Url.Action("UpdateDiscount", "Discount")';
    var updateStatusUrl = '@Url.Action("UpdateStatus", "Discount")';

</script>

<script src="~/js/discount.js" asp-append-version="true"></script>
